.landing-container {
  width: 100vw;
  height: 100vh;
  background: url("/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.landing-container nav {
  padding-inline:1.2rem;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing-container nav h2 {
  font-size: 1.8rem;
  font-weight: 500;
}

.landing-container nav .nav-list {
  display: flex;
  gap: 1.6rem;
  cursor: pointer;
}

.landing-main-container{
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  height:80vh;
  align-items: center;
}

.landing-main-container > div:nth-child(1) {
  font-size: 2.2rem;
}

.landing-main-container > div:nth-child(1) div[role='button']{
  background-color: #D97500;
  width: fit-content;
  padding:1rem;
  border-radius: 20px;
  margin-top: 2rem;
  
}

.landing-main-container > div:nth-child(1) div[role='button'] a {
  color: white;
  text-decoration: none;
  front-size: 1.7rem;
}

.landing-main-container > div:nth-child(2) img {
  height:70vh;
  width: auto;

}